* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arimo', sans-serif;
  font-size: 16px;
}

i {
  color: #80868A;
}

.display_inline {
  display: flex;
  justify-content: flex-end;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 90%;
  height: 90vh;
  background-color: red;
  display: flex;
}
/*  Sezione left */

/* Header sezione left */
.left-item {
  width: 30%;
  background-color: pink;
}
.right-item {
  width: 70%;
  background-color: green;
}

.head_left {
  display: flex;
  line-height: 60px;
}

.head_left {
  height: 60px;
}

.flex_item_hleft {
  width: 15%;
  background-color: #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_item_hright {
  width: 85%;
  background-color: #ededed;
}
.flex_item_hleft i {
  font-size: 2em;
}

 /* Contenitore notifiche */

 .notification {
   height: 80px;
   background-color: #9de1fe;
   display: flex;
 }

 .notification span i {
   border-radius: 50%;
   background-color: white;
   padding: 15px;
   font-size: 1.5em;
 }

.icon_bell {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_bell i {
  font-size: 1.5em;
  background-color: white;
  border-radius: 50%;
  padding: 15px;
}

.text_icon_bell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  line-height: 22px;
}

.text_icon_bell a,
.text_icon_bell p {
}

.text_icon_bell a {
  color: #404b4f;
  font-weight: bold;
  font-size: .85em;
}

#block {
  display: block;
}

/* Div search */

.search {
  background-color: #ededed;
  height: 50px;
  line-height: 50px;
}

.search input {
  width: 90%;
  border-radius: 20px;
  height: 30px;
  border: 1px solid white;
}

.search i {
  background-color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 30px;
  width: 0px;
  line-height: 27px;
  position: relative;
  left: 20px;
  padding-left: 15px;
}

.search input::placeholder {
  text-align: center;
}

 /* Container chat  */

.container_chat {
  border: 2px solid black;
}

.flex_list {
  display: flex;
  flex-direction: column;
  list-style: none;
 }
.flex_list li {
  border: 2px solid black;
  display: flex;
 }

.img_chat {
  width: 20%;
  padding: 10px;
}

.img_chat i {
  font-size: 2em;
}

.container_text {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.name_chat {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
}

.text_chat {
  display: flex;
  flex-direction: column;
}

/* Sezione right */

header {
  display: flex;
  height: 60px;
}

.flex_item_header_left {
  width: 30%;
  background-color: lightblue;
}
.flex_item_header_rigth {
  width: 70%;
  background-color: blue;
  line-height: 60px;
}

.container_text_rigth {
  display: flex;
}

.list_icon {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-right: 20px;
}

.list_icon li {
  padding: 0 5px;
}

/* Main sezione rigth */

.main {
  background-color: orange;
  display: flex;
  flex-direction: column;
  height: calc(100% - 120px);
}

.message {
  width: 100%;
  background-color: red;
  height: 60px;
  border: 2px solid grey;
}

.container_message {
  border: 2px solid black;
  background-color: white;
  margin: 5px;
  width: 20%;
}

#text_right {
  display: flex;
  justify-content: flex-end;
}

/* Footer sezione right*/

.footer {
  height: 60px;
  background-color: yellow;
  display: flex;
}

.box_emoji,
.box_send {
  width: 10%;
  background-color: black;
}

.footer input {
  width: 80%;
}
