* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 90%;
  height: 90vh;
  background-color: red;
  display: flex;
}
/*  Sezione left */

/* Header sezione left */
.left-item {
  width: 30%;
  background-color: pink;
}
.right-item {
  width: 70%;
  background-color: green;
}

.head_left {
  display: flex;
}

.head_left {
  height: 60px;
}

.flex_item_hleft {
  width: 20%;
  background-color: yellow;
}

.flex_item_hright {
  width: 80%;
  background-color: blue;
}

 /* Contenitore notifiche */

 .notification {
   height: 80px;
   background-color: darkgreen;
 }

/* Div search */

.search input {
  width: 90%;
}

 /* Container chat  */

.container_chat {
  border: 2px solid black;

}

.flex_list {
  display: flex;
  flex-direction: column;
  list-style: none;
 }
.flex_list li {
  border: 2px solid black;
  display: flex;
 }

.img_chat {
  width: 20%;
  padding: 10px;
}

.img_chat i {
  font-size: 2em;
}

.container_text {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.name_chat {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
}

.text_chat {
  display: flex;
  flex-direction: column;
}
