* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arimo', sans-serif;
  font-size: 16px;
  background-color: #ece5dd;
  z-index: -2;
}

input {
  outline: none;
  padding: 0 20px;
}

h4 {
  font-weight: normal;
}

small {
  font-size: .7em;
}

i {
  color: #949494;
}

i:hover {
  cursor: pointer;
}

img {
  width: 100%;
  border-radius: 50%;
}

.template {
  display: none;
}

.none {
  display: none;
}

.green {
  height: 200px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  background-color: #128c7e;
}

.display_inline {
  display: flex;
  justify-content: flex-end;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 90%;
  height: 90vh;
  display: flex;
  box-shadow: 0.5px 0px 3px .5px rgba(0,0,0,0.47);
}
/*  Sezione left */

/* Header sezione left */

.left-item {
  width: 30%;
  background-color: white;
  overflow: hidden;
}
.right-item {
  width: 70%;
}

.head_left {
  display: flex;
  line-height: 60px;
  background-color: #ededed;
}

.head_left {
  height: 60px;
}

.flex_item_hleft {
  width: 15%;
  background-color: #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_item_hright {
  width: 85%;
  background-color: #ededed;
}
.flex_item_hleft i {
  font-size: 2em;
}

.flex_item_hleft img {
  padding: 10px;
  margin-left: 12px;
}

 /* Contenitore notifiche */

.notification {
  display: flex;
  height: 80px;
  background-color: #9de1fe;
}

.notification:hover {
  cursor: pointer;
}

.notification span i {
  border-radius: 50%;
  background-color: white;
  padding: 15px;
  font-size: 1.5em;
}

.icon_bell {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_bell i {
  font-size: 1.3em;
  background-color: white;
  border-radius: 50%;
  padding: 15px;
  width: 53px;
}

.text_icon_bell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  line-height: 22px;
}

.text_icon_bell p {
  font-size: .9em;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  letter-spacing: .6px;
}

.text_icon_bell a {
  color: #404b4f;
  font-size: .85em;
  text-decoration: none;
}
.text_icon_bell a:hover {
  text-decoration: underline;
}


.icon_bell i {
 color: #9de1fe;
}

/* Div search */

.search {
  background-color: #ededed;
  height: 50px;
  line-height: 50px;
}

.search input {
  width: 90%;
  border-radius: 20px;
  height: 30px;
  border: 1px solid white;
}

.search i {
  background-color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 30px;
  width: 0px;
  line-height: 27px;
  position: relative;
  left: 17px;
  padding-left: 15px;
}

.search input::placeholder {
  color:#B7B7B7;
}

.search input {
  padding-left: 50px;
}

 /* Container chat  */

.container_chat {
  overflow-y: scroll;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

.text_chat p {
  font-size: .83em;
  margin-top: 5px;
  color: #7F7F7F;
}

.flex_list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.2);
}

.flex_list li {
  display: flex;
  border-bottom: 1px solid lightgrey;
 }

.flex_list li:hover {
  background-color: #f5f5f5;
  cursor: pointer;
  transition: .5s;
}

.img_chat {
  width: 20%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_chat i {
  font-size: 2.5em;
}

.container_text {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
}

.name_chat {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.name_chat span {
  font-size: .75em;
}

.text_chat {
  display: flex;
  flex-direction: column;
}

.text_chat small {
  color: #949494;
  font-size: .75em;
}

.name_chat small {
  color: #7F7F7F;
}

.text_chat span {
  font-size: 1.3em;
  padding-left: 3px;
}

/* Sezione right */

header {
  display: flex;
  height: 60px;
  font-family: 'Lato', sans-serif;
  background-color: #ededed;
}

.flex_item_header_left {
  width: 30%;
  background-color: #ededed;
}
.flex_item_header_rigth {
  width: 70%;
  background-color: #ededed;
  line-height: 60px;
}

.container_text_rigth {
  display: flex;
}

.list_icon {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-right: 20px;
}

.list_icon li {
  padding: 0 8px;
}

/* Main sezione rigth */

.clear::after {
  content: "";
  display: table;
  clear: both;
}

.main {
  height: calc(100% - 120px);
  background-image: url(../img/mine.jpg);
  overflow-y: scroll;
}

.box_text {
  max-width: 30%;
  min-width: 25%;
  padding: 10px;
  margin: 10px 45px;
  box-shadow: 0 .8px 0.5px rgba(0,0,0,.20);
}

.text_top {
  display: flex;
  justify-content: space-between;
}

.text_bottom {
  text-align: right;
}

.receive {
  background-color: white;
  float: left;
  clear: both;
  border-radius: 0px 15px 15px 15px;
}

.text_top i {
  opacity: 0;
}

.text_top i:hover {
  opacity: 1;
  transition: .3s;
}

.sent {
  border-radius: 15px 0px 15px 15px;
  background-color: #dcf8c6;
  float: right;
  clear: both;
}


/* Footer sezione right*/

.footer {
  height: 60px;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ededed;
}

.box_emoji {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_emoji i {
  font-size: 1.5em;
}

.box_emoji,
.box_send {
  width: 8%;
}

.footer input {
  width: 84%;
  height: 40px;
  border: 1px solid white;
  border-radius: 20px;
}

.footer input::placeholder {
  font-size: 1.2em;
  color:#B7B7B7;
}

.fa-paper-plane:hover {
  cursor: pointer;
}

.footer .send:active .fa-microphone {
  display: none;
}
